@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;900&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
}

.main-container{
    max-width: 1510px;
    width: 100%;
    height: 30px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner__cover{
    background-color: #252B49;
    opacity: 80%;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.main-container__banner{
    
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../images/banner-bg.png');
    background-size: cover;
    
}

.banner__header{
    z-index: 1;
    max-width: 1170px;
    justify-content: space-between;
    width: calc(100% - 40px);
    display: flex;
    border-bottom: 1px solid #BABBC5;
}

.header__links-wrapper{
    display: flex;
}

.header__link{
    width: 134px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 13px;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    position: relative;
}

.header__link:not(.header__burger)::after{
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: transparent;
}

.header__link:not(.header__burger):hover::after{
    background-color: #BABBC5;
}

.header__link:not(.header__burger):active{
    color: #E71414;
}

.header__link:not(.header__burger):active::after{
    background-color: #E71414;
}

.header__burger{
    display: none;
}

.banner__content{
    z-index: 1;
    width: calc(100% - 40px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 20px;
}

.banner__title{
    margin-top: 130px;
    max-width: 1170px;
    font-size: 64px;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    color: white;
    text-align: center;
}

.banner__subtext{
    margin-top: 31px;
    max-width: 1170px;
    font-size: 24px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: white;
    text-align: center;
}

.banner__button{
    border: none;
    outline: none;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 900;
    font-family: 'Raleway', sans-serif;
    width: 370px;
    height: 80px;
    color: white;
    background-color: #FF4343;
    margin-top: 82px;
    margin-bottom: 120px;
}

.banner__button:hover{
    background-color: #E71414;
}

.banner__button:active{
    background-color: #FF4343;
    box-shadow: 4px 4px 30px 0px #FF4343;
}

/* features */
.main-container__features{
    display: flex;
    max-width: 1510px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.features__wrapper{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
    max-width: 1170px;
    width: 100%;
    margin-top: calc(116px - 87px);
    margin-bottom: 116px;
    margin-inline: 20px;
}

.features__element{
    width: 370px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 89px;
}

.features__logo img{
    width: 100px;
    height: 100px;
}

.features__name{
    font-size: 24px;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    width: 100%;
    height: 72px;
    margin-top: 29px;
    color: #2D3033;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.features__description{
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    width: 100%;
    height: 84px;
    margin-top: 20px;
    color: #6C7279;
    text-align: center;
}

// work

.main-container__work{
    width: 100%;
    display: grid;
    gap: 2px;
    grid-template-columns: repeat(4, 1fr);
    @media only screen and (max-width: 650px){
        grid-template-columns: 1fr 1fr;
    }
}

.work__element{
    position: relative;
    object-fit: cover;

    img{
        width: 100%;
        height: 100%;
    }
}

.work__element:hover .element__overlay{
    display: flex;
}

.work__element:active .element__overlay{
    display: flex;
    background-color: #B90C0C;
}

.element__overlay{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100%);
    height: calc(100%);
    background-color: #FF4343;
    opacity: 80%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.overlay__title{
    @extend .features__name;
    height: 60px;
    margin-top:unset;
    color: white;
    @media only screen and (max-width: 1024px) {
        font-size: 18px;
        height: 41px;
    }
}

.overlay__description{
    @extend .overlay__title;
    height: unset;
    font-size: 18px;
    font-weight: 400;
    margin-top: 21px;
    @media only screen and (max-width: 1024px) {
        font-size: 14px;
        margin-top: 13px;
    }

    @media only screen and (max-width: 320px) {
        font-size: 14px;
        margin-top: 13px;
    }
}